h1 {
  background-color: #ADD8E6;
  color: white;
  padding-left: 10px;
}

body {
  padding: 0 10px 10px 10px;
}

.bill {
  border: 2px solid;
  border-color: #9A3334;
  margin-bottom: 10px;
  border-radius: 10px;
}

p {
  margin: 5px;
}

.input {
  margin-bottom: 5px;
}

.add {
  margin: 0 5px 5px 5px;
  height: 20px;
  background-color: #ADD8E6;
  border-radius: 5px; 
}

input:focus {
  outline:none;
}

#logout {
  margin-bottom: 15px;
}