div {
  padding: 5px;
}

/*body {
  padding: 0 10px 10px 10px;
  margin: 5px;
}*/

h1 {
  background-color: #ADD8E6;
  color: white;
  padding: 5px 0 5px 10px;
}

.bill {
  margin: 0 10px 10px 10px;
  border-radius: 10px;
}

p {
  margin: 5px;
}

.input {
  margin-bottom: 5px;
  margin-right: 5px;
}

button:focus {
  outline:none; 
}

.add:focus {
  outline:none; 
}

input:focus {
  outline:none;
}

#logout {
  margin-bottom: 15px;
  float: right;
}

#login {
  float: right;
}

#signup {
  float: right;
}