<button name='logout' id='logout' ng-click='logout()'>Logout</button><button name='dashboard' id='dash' ng-click='goToSearch()'>Go to Search Page</button>
<!-- <div>
  <P>Your reps:</p>
</div> -->
<p>Currently Tracked Bills:</p>
<div ng-repeat='bill in userBills track by $index'>
	<div class='bill'>
		<p><b>ID: </b>{{bill.bill_id}}</p>
		<p><b>Sponsor: </b>{{bill.sponsor.title}}. {{bill.sponsor.first_name}} {{bill.sponsor.middle_name}} {{bill.sponsor.last_name}}</p>
		<p><b>Title: </b>{{bill.title}}</p>
		<p><b>Introduced: </b>{{(bill.introduced).slice(0,10)}}</p>
		<p><b>Score: </b>{{bill.score}}</p>
		<button name='remove' class='bill-button' id='remove' ng-click='remove()'>Remove</button>
    </div>
</div>
