<div class='login capitol'>

  <div>
  <h2 class='main'>CitizenFleet<span><button name='signup' id='signup' class='ui right floated button' ng-click='goToSignup()'>Sign Up</button></span></h2>
  <h3 class="ui grey header offside">Login</h3>
  <div class="offside">
  <form class='ui form login'>
  	<div class="two fields centered">
	  <div class="field">
	  	<label class='splash'>Email</label>
	    <input type='text' class='input' ng-model='user.email' placeholder='Email'>	
	  <div class="field">
	  	<label>Password</label>
	    <input type='password' value='password' class='input' ng-model='user.password' placeholder='Password'>
    </div>
    <div class='ui input'>
    <input type='submit' class='ui button submit' ng-click='login(user)'/>
    </div>
  </div>
  </form>
</div>
</div>
</div>